
/********* Landing Page **********/
/*
img {
  height: 600px; !important;
}
*/

.landing {
  background: url(/img/landingimg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.clearlanding {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:  100%;
  height: 100%;
  opacity: 0; 
}


/********* Main Page **********/


.main {
  background: url(../img/image-50_wide.jpg) no-repeat center fixed;
}

a {
  color: #000;
  text-decoration: none; 
}

a:hover {
  text-decoration: none; 
  color: #000;
}


/********* Navigation **********/


.main-nav {
  background-image: linear-gradient(to right, rgba(250,250,250,1) 25%, rgba(250,250,250,0));
  width: 30%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.name {
  font-family: 'Arimo', sans-serif; 
  color: #000;
  margin: 0px 20px; 
  padding: 0; 
  
}

.title {
  font-family: 'Arimo', sans-serif;
  font-size: .8em; 
  margin: 0 20px; 
}

.nav-links {
  font-family: 'Quicksand', sans-serif;
}

.nav-links a:hover {
  text-decoration: underline;
}


/********* Gallery **********/

/*
.smoothScoll img {
  margin-top: 40px;
  height: 500px;
}
*/

#makeMeScrollable {
    width: 100%;
    height: 530px;
    position: relative;
}

div.scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

div.scrollableArea {
  position: relative;
  height: 100%;
}

#makeMeScrollable div.scrollableArea *
{
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
/*
	 If you don't want the images in the scroller to be selectable, try the following
		block of code. It's just a nice feature that prevent the images from
		accidentally becoming selected/inverted when the user interacts with the scroller. 
*/
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


/********* Footer **********/

.footer {
  position: absolute;
  z-index: 2;
}

.media-links li {
  display: inline-flex; 
  margin: 0 8px;
}

.media-links img {
  width: 25px; 
  height: 25px;
}
