/********* Landing Page **********/

.landing {
  background: url(/img/landingimg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.clearlanding {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width:  100%;
  height: 100%;
  opacity: 0; 
}


/********* Main Page **********/

.main {
  background: url(../img/image-50_wide.jpg) no-repeat center fixed;
}

a {
  color: #000;
  text-decoration: none; 
}

a:hover {
  text-decoration: none; 
  color: #000;
}


/********* Heading **********/

.name-title {
  font-family: 'Arimo', sans-serif; 
  color: #000;
  margin: 0;
  padding: 0; 
  list-style: none; 
}

.name {
  font-family: 'Arimo', sans-serif; 
  margin: 0px 0px; 
  padding: 0;
  font-size: 1.6em; 
  line-height: 1.6em;  
  text-align: center; 
}

.title {
  font-size: .8em; 
  margin: 0 0px; 
  text-align: center;
}


/********* NEW Navigation **********/

.second-container {
  position: absolute; 
  z-index: 5; 
  width: 100%; 
  height: 100px; 
  background: linear-gradient(to bottom, rgba(250,250,250,1) 55%, rgba(250,250,250,0.0));
}

.nav-toggle {
  font-family: 'Quicksand', sans-serif; 
  font-size: 1.em;
  cursor: pointer;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  text-align: center;
  padding: 0; 
  margin:  0 5px 0 0; 
  flex-grow: 1; 
}

.main-nav {
  max-height: 0px;
  overflow: hidden;
  display: flex; 
   -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  justify-content: space-around;
}

.main-nav ul {
  padding: 0; 
  margin: 2px; 
}

.main-nav li {
  font-family: 'Quicksand', sans-serif; 
  font-size: .8em; 
  display: inline-flex; 
  margin: 0 10px; 
}

.main-nav li > ul {
  max-height: 0px;
  width: 0; 
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.main-nav li.active > ul {
  max-height: 999px;
  opacity: 1;
  width: 100%; 
}

.main-nav a, .main-nav p {
  color: #000;
  text-decoration: none;
  margin: 4px 0px;
  display: block;
}

.main-nav a:hover, .main-nav p:hover {
  color: #000;
  cursor: pointer;
  text-decoration: underline; 
}

.main-nav p:hover {
  cursor: default;
}

.sub-menu {
  padding: 0; 
}

.sub-menu li {
  display: block;
}

.nav-links {
  width: 100%; 
  padding: 0; 
  display: flex; 
  justify-content: space-around
}

.nav-links li {
  margin: 0 20px; 
  display: inline-flex; 
}

.nav-container.active .main-nav {
  max-height: 999px;
  background: linear-gradient(to bottom, rgba(250,250,250,.25) 80%, rgba(250,250,250,0.005));
}

.current {
  text-decoration: underline; 
}


/********* Gallery **********/

#makeMeScrollable {
  width: 100%;
  height: 83%; 
  position: absolute;
  margin-top: 50px;
}

div.scrollWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

div.scrollableArea {
  position: relative;
  height: 100%;
  width: 9000px; 
}

#makeMeScrollable div.scrollableArea * {
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
/*
	prevents images in the scroller from accidentally being  selected/inverted when the user interacts with the scroller. 
*/
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.scrollableArea img {
  height: 100%; 
}


/********* About **********/

.about-bg {
  background: url(/img/unspecified-1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.about {
  margin: 140px 60px 0;
  padding: 0; 
  position: absolute; 
  font-family: Quicksand; 
  font-size: .8em; 
}

/********* contact **********/

.contact-bg {
  background: url(/img/unspecified-5.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact {
  width: 100%; 
  margin: 140px auto; 
  position: absolute; 
  font-family: Quicksand; 
  font-size: .8em;
  text-align: center; 
}

/********* Footer **********/

footer {
  right: 0; 
  bottom: 0; 
  left: 0; 
  position: absolute;
}

.media-links {
  display: flex; 
  list-style: none; 
  padding: 0; 
}

.media-links li {
  margin: 0;
  padding: 0; 
  font-size: 1.4em;
  flex-grow: 1;
  text-align: center;
}
