@media screen and (min-width: 693px) {

  
  .name, 
  .nav-toggle {
    width: 65%;
    margin-left: 10px; 
  }
  
  
/********* Heading **********/

  .name { 
    text-align: left; 
    margin-top: 3px; 
  }
  
/********* Navigation **********/

  .second-container {
    position: absolute; 
    z-index: 5; 
    width: 30%; 
    height: 100%; 
    background: linear-gradient(to right, rgba(250,250,250,1) 59%, rgba(250,250,250,0.0));
    width: 275px; 
  } 
  
  .nav-toggle { 
    font-size: 0.97em;
    text-align: left;
    padding: 0; 
    flex-grow: 1; 
  
    /*
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  */
  }
  
  .fa-bars {
    display: none; 
  }


  .main-nav {
  max-height: 100%;
  overflow: hidden;
  display: flex; 
  justify-content: space-around;
  width: 50%; 
  margin-top: 30PX; 
  margin-left: 10px; 
    

  /*  main nav transitions */

  /*
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  */
  }
  
  .main-nav li {
    display: block; 
    font-size: .88em; 
    margin: 20px 0;
  }
  
  .main-nav li > ul {
/*    padding-left: 30px; */
  }
  
  .sub-menu li {
    width: 75%; 
    padding-left: 30px; 
    text-align: right;
  }
  
  .main-nav a, .main-nav p {

  margin: 0px;

  padding: 2px 6px 5px; 
}
  
  
  /********* Gallery **********/

  
  #makeMeScrollable {
    height: 100%;
    margin: 0; 
  }
  
/********* Footer **********/

  footer {
    background: none; 
    z-index: 6;
    height: 300px; 
  }

  .media-links {
    width: 167px;
    flex-direction: column; 
  }
  
  .media-links li {
    margin: 25px 0; 
  }
  
  
}